
<div class="jumbotron">
  <h1>Automotive</h1><br>
  <div class="well well-sm"> <p><font color="#ECECEA">Cars, trucks, SUVs and their accesories can be found here. ATV's and Motorcycles can be found under "Motorized" in the categories tab.</font></p>
</div> 
</div>

<br>

<h1>Cars & Trucks for Sale</h1>

<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <%= image_tag listing.image.url(:thumb) %>
          <h3><%=h truncate(listing.name, :length => 45) %></h3>

          <% if listing.price == 0 %>
            <p>Free</p>
          <% else %>  
            <p><%= number_to_currency(listing.price) %></p>
          <% end %>
          <p><%= "Listed by #{listing.user.name}" %></p>
          <%= link_to 'View', listing, class: "btn btn-default btn-sm" %>
          <% if (user_signed_in?) && (current_user == listing.user) %>
           <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-default btn-sm" %>
           <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>



