
<div class="jumbotron jumborton-sm">
  <h1>Welcome to the Gunnison Marketplace!</h1><br>
  <div class="well well-sm"> <p><font color="#ECECEA">      The Gunnison Marketplace is a perfect place to list any items you want to sell locally in the Gunnison Valley. Listings stay up for one week at a time and post instantly to the website. There is no need to "bump" your post to keep it visible or to wait a few days for your ad to show up on the site and all posts are deleted after a week to keep the clutter on the marketplace down for your viewing pleasure. <br> <br>    The Gunnison Marketplace is 100% donation supported so if you like this site or it has helped you sell some items please consider making a donation.</font></p>
  </div>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#donateModal">Donate!</button>

</div>

<h1>New Listings (Last 48 Hours)</h1>
<br>
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <h3><%=h truncate(listing.name, :length => 45) %></h3>
          <% if listing.category.id == 8 %>
            <p>Lost & Found</p>
          <% elsif  listing.price == 0%>
            <p>Free</p>
          <% elsif listing.category.id == 14 %>
            <%= "#{number_to_currency(listing.price)} per month max" %>
          <% elsif listing.category.id == 11 %>
            <%= "#{number_to_currency(listing.price)} per month" %>
          <% else %>  
            <p><%= number_to_currency(listing.price) %></p>
          <% end %>
          <% if listing.category.id == 8 %>
            <p><%= "Contact #{listing.user.name}" %></p>
          <% elsif listing.category.id == 2 %>
            <p><%= "Contact #{listing.user.name}" %></p>
          <% elsif listing.category.id == 14 %>
            <p><%= "Sought by #{listing.user.name}" %></p>
          <% else %>
            <p><%= "Listed by #{listing.user.name}" %></p>
          <% end %>
          <%= link_to 'View', listing, class: "btn btn-default btn-sm" %>
          <% if (user_signed_in?) && (current_user == listing.user) %>
           <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-default btn-sm" %>
           <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>

  <div class="modal" id="donateModal">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-body">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <h1><font color="#000"> Please Enter a Donation Amount</font></h1>
        <p> This donation will help us improve this site and add more features as well as pay for the hosting costs to keep this site running.</p>
        <hr />
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="item_name" value="Donation">
        <input type="hidden" name="business" value="thegunnisonmarketplace@gmail.com">
        <input type="hidden" name="currency_code" value="USD">
        <input type="text" class="form-control" placeholder="Enter Amount in USD" name="amount" required >
        <hr />
        <input type="submit" class="btn btn-primary" value="Donate!">
      </form>
    </div></div>
  </div>
  </div>